@model FiratBlog.Models.Member

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    <div class="col-lg-8">

        <br />
        <h2>Yeni Üye Kayıt</h2>
        <div><h4 class="alert-danger">@ViewBag.Basarisiz</h4></div>
        <div><h4 class="alert-danger">@ViewBag.error</h4></div>

        @using (Html.BeginForm("Register", "Member", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <hr class="new1" />
                <br />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.UserName, "Kullanıcı Adı", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control", placeholder = "Kullanıcı Adı", @required = "" } })
                        @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Email, "Email", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", placeholder = "Email", @required = "" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Password, "Şifre", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.PasswordFor(model => model.Password, new { @class = "form-control", placeholder = "Şifre", pattern = "(?=.*[a-z])(?=.*[A-Z]).{8,}", @required = "" })
                        @Html.ValidationMessageFor(model => model.Password, "Şifre: Büyük, küçük harf ve rakamlardan oluşmalıdır", new { @class = "text-success" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.NameSurname, "Ad Ve Soyad", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.NameSurname, new { htmlAttributes = new { @class = "form-control", placeholder = "Ad Soyad", @required = "" } })
                        @Html.ValidationMessageFor(model => model.NameSurname, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Photo, "Fotoğraf Yükle", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <input type="file" name="Photo" id="Photo" accept=".jpg,.PNG,.gif,.JPEG,.jpeg" class="form-control" required="" />
                        @Html.ValidationMessageFor(model => model.Photo, "", new { @class = "text-danger" })
                    </div>
                </div>

                <br />
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Üye ol" class="btn btn-primary" />
                        @Html.ActionLink("Geri Dön", "Index", "Home", routeValues: null, htmlAttributes: new { @class = "btn btn-warning", @role = "button" })
                    </div>
                </div>
            </div>
        }
    </div>
</body>